<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new list</a>
           </p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
        </thead>
        <!-- I am saying for each individual list in my set of lists-->
        {% for list in todo_list %}
        <tr>
          <td>
          <a href="{% url 'todo_list_detail' list.id %}">
          <!-- Get me the name of the individual list -->
          {{ list.name }}</td> </a>
          <!--Get me the number of items in that list -->
          <td>{{ list.items.all|length }}</td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
